.intro-text-section{
  padding-top: 10em;
  text-align: center;
  &.understand{
    &:before{
      color: $understand;
    }
  }
  &.what-to-do{
    &:before{
      color: $what-to-do;
      opacity: .3;
    }
  }
  &.resources{
    &:before{
      color: $resources;
    }
  }
  @include width-below ($large-width){
    padding-top: $longer;
    &:before{
      top: .15em;
      font-size: 10em;
    }
  }
  &.fade{
    opacity: 0;
  	pointer-events: none;
  }
  &:before{
    @include text-theme;
    font-family: icomoon;
    position: absolute; 
    opacity: .2;
    font-size: 12em;
    top: .7em;
    right: 0;
    left: 0;
    @include width-below ($large-width){
      top: .2em;
      font-size: 10em;
    }
  }
  &.cry{
    &:before{
      content: $icon-cry;  
    }
  }
  &.spirituality{
    &:before{
      content: $icon-spirituality;  
    }
  }
  &.seek-help{
    &:before{
      content: $icon-seek-help;  
    }
  }
  &.set-goals{
    &:before{
      content: $icon-set-goals;  
    }
  }
  &.yoga{
    &:before{
      content: $icon-yoga;  
    }
  }
  &.be-proactive{
    &:before{
      content: $icon-be-proactive; 
    }
  }
  &.sleep{
    &:before{
      content: $icon-sleep;  
    }
  }
  &.art{
    &:before{
      content: $icon-art;  
    }
  }
  &.eat-healthy{
    &:before{
      content: $icon-eat-healthy;  
    }
  }
  &.reach-out{
    &:before{
      content: $icon-reach-out;  
    }
  }
  &.journal{
    &:before{
      content: $icon-journal;  
    }
  }
  &.exercise{
    &:before{
      content: $icon-exercise;  
    }
  }
  &.trauma{
    &:before{
      content: $icon-trauma;  
    }
  }
  &.mind-body{
    &:before{
      content: $icon-mind-body;  
    }
  }
  &.resilient{
    &:before{
      content: $icon-resilient;  
    }
  }
  &.resources{
    &:before{
      content: $icon-resources;  
    }
  }
  &.contact{
    &:before{
      content: $icon-contact;  
      color: $resources;
      top: .6em;
      @include width-below ($large-width){
        top: .2em;
      }
    }
  }
}

.main-copy-section{
  @include section-segment;
  padding-top: $longer;
  @include width-below ($large-width){
    padding-top: $long;
  }
  & a{
    @include text-theme;
    text-decoration: none;
    position: relative;
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      top: 11px;
      left: 0;
      right: 0;
      @include background-theme;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }
  }
  & img{
    display: block;
    margin: $longer auto $long;
    max-width: 100%;
  }
  & p{
    line-height: 1.6em;
    font-size: 1.125em;
    & + h3{
      margin-top: $long;
    }
  }
  & h3{
    font-size: 1.75em;
    margin-bottom: $shorter;
    margin-top: 0;
    @include text-theme;
  }
  & h4{
    font-size: 1.25em;
    margin-bottom: $shortest;
    & + p{
      margin-bottom: $long;
    }
  }
  & h5{
    font-size: 1.125em;
    @include text-theme;
    margin-bottom: $shortest;
    & + p{
      margin-bottom: $long;
    }
  }
  & .bulleted-list{
    margin-bottom: $long;
    & > li{
      font-size: 1.125em;
      line-height: 1.6em;
      position: relative;
      padding-left: 1em;
      &:before{
        content: '•';
        position: absolute;
        left: 0;
        @include text-theme;
      }
      & + li{
        margin-top: $shorter;
      }
    }
    &.two-column{
      @include width-above ($medium-width){
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
      }
    }
  }
  & ol{
    margin-bottom: $long;
    counter-reset: section;
    list-style-type: none;
    & > li{
      font-size: 1.125em;
      line-height: 1.6em;
      padding-left: 0;
      &:before{
        position: absolute;
        left: 0;
        counter-increment: section;
        content: counters(section,".") " .";
        @include text-theme;
      }
      & + li{
        margin-top: $shorter;
      }
    }
  }
  & .resource-list{
    @include width-above ($medium-width){
      -webkit-column-count: 2; /* Chrome, Safari, Opera */
      -moz-column-count: 2; /* Firefox */
      column-count: 2;
    }
    & > li{
      @include width-above ($medium-width){
        display: inline-block;
        vertical-align: top;
        width: 100%;
      }
      margin-bottom: $short;
    }
    & + *{
      margin-top: $long;
    }
  }
}

.book-title{
  font-style: italic;
  display: block;
}

.book-author{
  display: block;
}

.navigation-section{
  display: block;
  max-width: $large-width;
  margin: $longer auto 0;
}

.page-nav-list{
  display: flex;
  justify-content: space-between;
}

.page-nav-link{
  text-decoration: none;
  @include text-theme;
}

.two-column-wrap{
  @include width-above ($medium-width){
    display: flex;
    justify-content: space-between;
  }
}

.main-column{
  @include width-above ($medium-width){
    width: 60%;
    display: inline-block;  
  }
  @include width-below ($medium-width){
    display: block;
  }
}

.side-column{
  text-align: center;
  @include width-above ($medium-width){
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }
  @include width-below ($medium-width){
    display: block;
  }
}

.real-story-feature-image{
  width: 100%;
  display: block;
}

.real-story-text-wrap{
  position: absolute;
  max-width: $medium-large-width;
  bottom: 4em;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: $short;
  @include width-below ($large-width){
    position: relative;
    bottom: auto;
  }
}

.real-story-quote{
  @include lora;
  font-weight: 400;
  font-size: 2.9em;
  margin-top: .5em;
  line-height: 1.1em;
  background: white;
  margin-bottom: 0;
  @include width-below ($medium-width){
    font-size: 2.25em;
  }
}

.what-to-do-list{
  margin-top: $long;
  & > li{
    & + li{
      margin-top: $longer;
    }
  }
}

.what-to-do-link{
  display: block;
  &:before{
    font-family: icomoon;
    display: block;
    font-size: 6em;
    padding-bottom: 10px;
    transition-duration: 1s;
  }
  &:hover{
    &:after{
      display: none;
    }
    &:before{
      transform: scale(1.15);
    }
  }
  &.cry{
    &:before{
      content: $icon-cry;  
    }
  }
  &.spirituality{
    &:before{
      content: $icon-spirituality;  
    }
  }
  &.seek-help{
    &:before{
      content: $icon-seek-help;  
    }
  }
  &.set-goals{
    &:before{
      content: $icon-set-goals;  
    }
  }
  &.yoga{
    &:before{
      content: $icon-yoga;  
    }
  }
  &.be-proactive{
    &:before{
      content: $icon-be-proactive; 
    }
  }
  &.sleep{
    &:before{
      content: $icon-sleep;  
    }
  }
  &.art{
    &:before{
      content: $icon-art;  
    }
  }
  &.eat-healthy{
    &:before{
      content: $icon-eat-healthy;  
    }
  }
  &.reach-out{
    &:before{
      content: $icon-reach-out;  
    }
  }
  &.journal{
    &:before{
      content: $icon-journal;  
    }
  }
  &.exercise{
    &:before{
      content: $icon-exercise;  
    }
  }
}

.page-author{
  font-size: .45em;
  font-style: italic;
  display: block;
}