.footer{
  padding: 5em 0 $longest;
  text-align: center;
  background-image: linear-gradient(-180deg, #BCE6D4 0%, #ACBFEB 100%);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.social-link-list {
  & > li {
    display: inline-block;
    padding: 0 .4em;
    @include width-below ($medium-width){
      padding: 0 .1em;
    }
    @include width-above ($medium-width){
      &:last-child{
        padding-right: 0;
      }
    }
    & + li{
      &:before{
        content: "/";
        color: white;
        padding-right: 1.15em;
        @include width-below ($medium-width){
          padding-right: .5em;  
        }
      }
    }
  }
}

.social-link {
  text-decoration: none;
  position: relative;
  @include small-uppercase-treatment;
  display: inline-block;
  @include transition-fast;
  &:hover{
    @include text-theme;
  }
  @include width-below ($medium-small-width){
    font-size: .625em;
  }
}

.footer-text-wrapper{
  display: inline-block;
  vertical-align: middle;
  @include width-below ($medium-width){
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

.made-with-text{
  margin-bottom: .25em;
  color: white;
  @include small-uppercase-treatment;
  font-weight: 700;
  font-size: .7em;
  & a{
    color: white;
    text-decoration: none;
  }
}