ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after{
  box-sizing: border-box;
}

button, a{
  &:focus{
    outline: none;
    }
}

body {
  margin: 0;
  font-size: 1em;
  color: $dark-gray;
  @include karla;
  @include width-below ($medium-width){
    font-size: .85em;
  }
}

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: white;
  max-width: $overflow-width;
  margin: 0 auto;
  &.menu-is-open{
    position: fixed;
  }
}

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
}

section{
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 100;
}

img{
  max-width: 100%;
}

@mixin large-center-margin-wrap{
  max-width: $large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin medium-center-margin-wrap{
  max-width: $medium-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin medium-small-center-margin-wrap{
  max-width: $medium-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin extra-large-center-margin-wrap{
  max-width: $extra-large-width;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
}

@mixin section-segment{
  padding-top: 10em;
  padding-bottom: 8em;
  @include width-below ($medium-small-width){
    padding-top: 6em;
    padding-bottom: 4em;
  }
}

.error-section{
  padding-top: 10em;
  text-align: center;
}

.large-inner-wrap{
  @include large-center-margin-wrap;
  & + .large-inner-wrap{
    margin-top: $longer;
  }
}

.medium-inner-wrap{
  @include medium-center-margin-wrap;
}

.medium-small-inner-wrap{
  @include medium-small-center-margin-wrap;
}

.extra-large-inner-wrap{
  @include extra-large-center-margin-wrap;
}

.borders{
  background: white;
  z-index: 100000;
  position: fixed;
  &:after{
    content: "";
    position: absolute;
    background: $lightest-gray;
    z-index: 200000;
  }
  @include width-below ($large-width){
    display: none;
  }
}

#border-bottom{
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  height: 50px;
  text-align: center;
  padding-top: 14px;
  &:after{
    right: 25px;
    left: 25px;
    bottom: 24px;
    height: 1px;
  }
}

#border-right{
  right: 0;
  top: 0;
  bottom: 50px;
  width: 50px;
  &:after{
    top: 25px;
    bottom: -25px;
    right: 24px;
    width: 1px;
  }
}

#border-left{
  left: 0;
  top: 0;
  bottom: 25px;
  width: 50px;
  &:after{
    top: 25px;
    bottom: 0;
    right: 24px;
    width: 1px;
  }
  .fixed &{
    position: fixed;
  }
}

::-moz-selection { 
  background: $lightest-gray;
}

::selection {
  background: $lightest-gray;
}

.border-wrapper{
  position: relative;
  padding: 0 50px 50px;
  @include width-below ($large-width){
    padding: 0 1em 1em;
  }
}

.border-text{
  background: white;
  z-index: 200001;
  position: relative;
  padding-right: $short;
  padding-left: $short;
  @include lora;
  font-size: .7em;
  font-style: italic;
  & a{
    text-decoration: none;
    color: $dark-gray;
    &:hover{
      text-decoration: line-through;
    }
  }
}

.border-link{
	background: white;
  z-index: 200001;
  position: relative;
  padding-right: $short;
  padding-left: $short;
  @include lora;
  font-size: .7em;
  font-style: italic;
  margin-left: $longer;
  margin-right: $longer;
  color: $dark-gray;
  text-decoration: none;
  &:hover{
      text-decoration: line-through;
    }
}

.coming-soon-section{
  background-image: linear-gradient(0deg, #FFDFA7 0%, #FFC3A4 90%);
  height: 100vh;
  text-align: center;
  color: white;
  padding: 1em;
  padding-top: 20%;
  & > h1{
    font-size: 1.5em;
  }
  & > h2{
    font-size: 5em;
    margin-top: .5em;
  }
}

.caption{
  text-align: center;
  font-size: .8em;
  display: block;
  margin-bottom: $longer;
}