.grid-list-section{
  padding-top: 18px;
  padding-bottom: $longer;
  max-width: $overflow-width;
  @include width-below ($large-width){
    padding-top: 0;
    margin-top: -$short;
    padding-bottom: $short;
  }
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33%;
  @include width-below ($medium-large-width){
    width: 49%;
    &.full-width{
      width: 100%;
    }
  }
  @include width-below ($medium-width){
    width: 100%;
  }
}

.grid{
  margin-left: -1em;
  margin-right: -1.25em;
}

.grid-item {
  //overflow: auto;
  //float: left;
  height: auto;
  background: white;
  padding: $long $short;
  display: inline-block;
  vertical-align: top;
  @include width-below ($medium-width){
    display: block;
  }
  &.width3{
    width:  100%;
    background-image: linear-gradient(0deg, #FFDFA7 0%, #FFC3A4 90%);
    background-attachment: fixed;
    margin-bottom: $long;
    margin-top: $long;
  }
  &.width2{
    width:  66%;
    @include width-below ($medium-large-width){
      width: 100%;
    }
  }
  &.no-border{
    border: none;
  }
  &.bottom{
    @include width-above ($large-width){
      vertical-align: bottom;  
    }
  }
}

.grid-item-inner-wrap{
  @include border-theme;
  padding: $longest $short;
  text-align: center;
  height: 100%;
  position: relative;
  &:before{
    font-family: icomoon;
    display: block;
    font-size: 4.5em;
    height: 1em;
    transition-duration: 1s;
    @include text-theme;
  }
  &.cry{
    &:before{
      content: $icon-cry;  
    }
  }
  &.spirituality{
    &:before{
      content: $icon-spirituality;  
    }
  }
  &.seek-help{
    &:before{
      content: $icon-seek-help;  
    }
  }
  &.set-goals{
    &:before{
      content: $icon-set-goals;  
    }
  }
  &.yoga{
    &:before{
      content: $icon-yoga;  
    }
  }
  &.be-proactive{
    &:before{
      content: $icon-be-proactive; 
    }
  }
  &.sleep{
    &:before{
      content: $icon-sleep;  
    }
  }
  &.art{
    &:before{
      content: $icon-art;  
    }
  }
  &.eat-healthy{
    &:before{
      content: $icon-eat-healthy;  
    }
  }
  &.reach-out{
    &:before{
      content: $icon-reach-out;  
    }
  }
  &.journal{
    &:before{
      content: $icon-journal;  
    }
  }
  &.exercise{
    &:before{
      content: $icon-exercise;  
    }
  }
  &.trauma{
    &:before{
      content: $icon-trauma;  
    }
  }
  &.mind-body{
    &:before{
      content: $icon-mind-body;  
    }
  }
  &.resilient{
    &:before{
      content: $icon-resilient;  
    }
  }
  &.resources{
    &:before{
      content: $icon-resources;  
    }
  }
  &.contact{
    &:before{
      content: $icon-contact;  
    }
  }
}

.grid-item-link{
  text-decoration: none;
  color: $dark-gray;
  display: block;
  height: 100%;
  &:hover{
    & .grid-item-inner-wrap{
      &:before{
        transform: scale(1.2);
      }
    }
  }
}

.real-stories-image-wrap{
  overflow: hidden;
}

.real-stories-image{
  transition-duration: 2s;
  width: 100%;
  :hover > &{
    transform: scale(1.1);
  }
}

.grid-title{
  @include small-uppercase-treatment;
  @include text-theme;
  margin-top: 1.5em;
}

.grid-large-heading{
  @include lora;
  font-size: 1.75em;
  display: block;
  margin-top: $shorter;
}

.grid-description{
  line-height: 1.5em;
  margin-top: $short;
  display: block;
}

.about-link-wrap{
  padding: 5em 0;
  display: block;
  text-decoration: none;
  color: white;
  max-width: $large-width;
  margin: 0 auto;
  & > .grid-large-heading{
    font-size: 2.8em;
    @include width-below ($medium-width){
      font-size: 2.25em;
    }
  }
}