@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

li {
  list-style-type: none; }

/**
 * Returns the value of $base to the power of $exponent
 *
 * @method exponent
 * @param {number} $base Control value that gets exponented up, can be any number
 * @param {number} $exponent Number that determines steepness of the curve, must be an integer
 * @for ( Sass functions )
 * @return {number} Scaled number value
 * @namespace thunder
 */
/**
 * Defines a number value given a scale at a single place, bigger base ratio and place result in bigger value
 *
 * @method modular-scale
 * @param {number with unit} $base Number to multiply the whole thing by, can be any number
 * @param {number} $ratio Determines how steep the curve will be, can be any number
 * @param {number} $place Position at which the scale is determined, must be an integer
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
/**
 * Returns a scaled value for length depending on place
 *
 * @method get-scaled-length-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
/**
 * Returns a scaled value for size depending on place
 *
 * @method get-scaled-size-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
/**
 * Returns a scaled value for thickness depending on place
 *
 * @method get-scaled-thickness-at
 * @param {number} $place Must be an integer, bigger place results in an increasingly bigger value
 * @for ( Sass functions )
 * @return {number} Number value given a scale at a single place
 * @namespace thunder
 */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2aggr5");
  src: url("../fonts/icomoon.eot?2aggr5#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2aggr5") format("truetype"), url("../fonts/icomoon.woff?2aggr5") format("woff"), url("../fonts/icomoon.svg?2aggr5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.error-text {
  font-size: 3.3em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em; }

.small-message > a {
  position: relative;
  text-decoration: none;
  color: #222; }
  .small-message > a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .small-message > a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }

.medium-introduction-text {
  font-size: 1.125em;
  line-height: 1.7em;
  display: block;
  max-width: 40em; }
  .medium-introduction-text > a {
    font-weight: bold;
    text-decoration: none;
    color: #222;
    position: relative; }
    .medium-introduction-text > a:hover:after {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    .medium-introduction-text > a:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 2px;
      left: 0;
      z-index: -1;
      mix-blend-mode: multiply;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s; }
  .medium-introduction-text + .medium-introduction-text {
    margin-top: 1em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

button:focus, a:focus {
  outline: none; }

body {
  margin: 0;
  font-size: 1em;
  color: #222;
  font-family: 'Karla', sans-serif;
  font-weight: 400; }

.overflow-wrap {
  position: relative;
  overflow: hidden;
  background: #222; }

.transform-wrap {
  position: relative;
  margin: 0 auto;
  background: white;
  max-width: 90em; }

section {
  margin: 0 auto;
  background: white;
  position: relative;
  z-index: 100; }

img {
  max-width: 100%; }

.error-section {
  padding-top: 10em;
  text-align: center; }

.large-inner-wrap {
  max-width: 60em;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em; }
  .large-inner-wrap + .large-inner-wrap {
    margin-top: 4em; }

.medium-inner-wrap {
  max-width: 52em;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em; }

.medium-small-inner-wrap {
  max-width: 40em;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em; }

.extra-large-inner-wrap {
  max-width: 80em;
  margin: 0 auto;
  z-index: 1000;
  position: relative;
  padding-right: 1em;
  padding-left: 1em; }

.borders {
  background: white;
  z-index: 100000;
  position: fixed; }
  .borders:after {
    content: "";
    position: absolute;
    background: #E7E7E7;
    z-index: 200000; }

#border-bottom {
  bottom: 0;
  width: 100%;
  right: 0;
  left: 0;
  height: 50px;
  text-align: center;
  padding-top: 14px; }
  #border-bottom:after {
    right: 25px;
    left: 25px;
    bottom: 24px;
    height: 1px; }

#border-right {
  right: 0;
  top: 0;
  bottom: 50px;
  width: 50px; }
  #border-right:after {
    top: 25px;
    bottom: -25px;
    right: 24px;
    width: 1px; }

#border-left {
  left: 0;
  top: 0;
  bottom: 25px;
  width: 50px; }
  #border-left:after {
    top: 25px;
    bottom: 0;
    right: 24px;
    width: 1px; }
  .fixed #border-left {
    position: fixed; }

::-moz-selection {
  /* Code for Firefox */ }

.border-wrapper {
  position: relative;
  padding: 0 50px 50px; }

.border-text {
  background: white;
  z-index: 200001;
  position: relative;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Lora', serif;
  font-size: .8em; }

.coming-soon-section {
  background-image: linear-gradient(-180deg, #ECBCD8 0%, #FFC3A4 17%, #FFDEA6 34%, #F5E88F 51%, #DBE97A 69%, #BAE6DA 85%, #ACC0EB 100%); }
  .coming-soon-section > h1 {
    color: red; }

.quote-section {
  background-image: url(../images/real-stories/kate.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center; }
  .fixed .quote-section {
    z-index: -1; }

.quote-text-wrap {
  max-width: 27em;
  padding-top: 15em;
  padding-bottom: 10em;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0 50px 0 auto; }

.quote-text {
  font-size: 2.125em;
  font-family: 'Lora', serif;
  line-height: 1.1em;
  display: block;
  color: white;
  text-shadow: 1px 1px 2px rgba(61, 57, 54, 0.4);
  /*
@include width-below ($medium-width){
    font-size: 4.25em;
  }
*/ }

.quote-author {
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  display: block;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(61, 57, 54, 0.4);
  position: relative;
  display: inline-block;
  margin-bottom: 2em; }

.main-nav {
  padding-top: .7em;
  position: relative;
  z-index: 20000;
  text-align: center; }

.subpage-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0; }

.home-nav {
  background: white;
  z-index: 100000;
  height: 50px;
  right: 25px;
  left: 26px;
  position: absolute; }
  .fixed .home-nav {
    position: fixed;
    top: 0;
    margin-right: 0;
    margin-left: 0; }
  .home-nav:after {
    position: absolute;
    height: 1px;
    right: 0;
    left: 0;
    top: 25px;
    background: #E7E7E7;
    content: ""; }

.main-nav-link-list {
  display: inline-block; }
  .main-nav-link-list > li {
    display: inline-block;
    vertical-align: middle; }
    .main-nav-link-list > li + li {
      margin-left: 2em; }

.home-link {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration: none;
  color: #222;
  background: white;
  padding-right: .5em;
  padding-left: .5em; }

.main-nav-link {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-weight: 700;
  position: relative;
  background: white;
  padding-right: .75em;
  padding-left: .75em; }
  .main-nav-link.understand {
    color: #FFC2A4; }
  .main-nav-link.resources {
    color: #8290AF; }
  .main-nav-link.what-to-do {
    color: #FFDEA6; }
  .main-nav-link.real-stories {
    color: #BAE7DB; }

.grid-list-section {
  padding-top: 50px;
  padding-bottom: 4em; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 33.1%; }

.grid-item {
  height: auto;
  background: white;
  padding: 2em 1em;
  display: inline-block;
  vertical-align: top; }
  .grid-item.width3 {
    width: 100%;
    background-image: linear-gradient(0deg, #FFDFA7 0%, #FFC3A4 90%);
    background-attachment: fixed;
    margin-bottom: 2em;
    margin-top: 2em; }
  .grid-item.width2 {
    width: 66%; }
  .grid-item.no-border {
    border: none; }
  .grid-item.bottom {
    vertical-align: bottom; }

.grid-item-inner-wrap {
  padding: 8em 1em;
  text-align: center; }
  .real-stories .grid-item-inner-wrap {
    border: 2px solid #BAE7DB; }
  .understand .grid-item-inner-wrap {
    border: 2px solid #FFC2A4; }
  .resources .grid-item-inner-wrap {
    border: 2px solid #8290AF; }
  .what-to-do .grid-item-inner-wrap {
    border: 2px solid #FFDEA6; }
  .share .grid-item-inner-wrap {
    background-image: linear-gradient(-180deg, #F5E88E 0%, #DBE979 100%);
    color: white; }
  .resources .grid-item-inner-wrap {
    background-image: linear-gradient(0deg, #E0FFF5 0%, #ACBFEB 100%);
    border: none; }

.grid-item-link {
  text-decoration: none;
  color: #222;
  display: block; }

.grid-title {
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin-top: 1.5em; }
  .real-stories .grid-title {
    color: #BAE7DB; }
  .understand .grid-title {
    color: #FFC2A4; }
  .resources .grid-title {
    color: #8290AF; }
  .what-to-do .grid-title {
    color: #FFDEA6; }

.grid-large-heading {
  font-family: 'Lora', serif;
  font-size: 1.75em;
  display: block;
  margin-top: 0.5em; }

.grid-description {
  line-height: 1.5em;
  margin-top: 2em; }

.about-link-wrap {
  padding: 5em 0;
  display: block;
  text-decoration: none;
  color: white;
  max-width: 60em;
  margin: 0 auto; }
  .about-link-wrap > .grid-large-heading {
    font-size: 3em; }

.intro-text-section {
  padding-top: 8em;
  text-align: center; }

.form-check-label {
  position: relative;
  line-height: 1.1em;
  font-size: .9em; }

.text-field, .message-field {
  padding: 1em .5em .65em .5em;
  border: 1px solid #222;
  width: 100%;
  font-size: .9em;
  cursor: pointer;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }
  .real-stories .text-field:focus, .real-stories .message-field:focus {
    border: 2px solid #BAE7DB; }
  .understand .text-field:focus, .understand .message-field:focus {
    border: 2px solid #FFC2A4; }
  .resources .text-field:focus, .resources .message-field:focus {
    border: 2px solid #8290AF; }
  .what-to-do .text-field:focus, .what-to-do .message-field:focus {
    border: 2px solid #FFDEA6; }
  .real-stories .text-field:hover, .real-stories .message-field:hover {
    border: 2px solid #BAE7DB; }
  .understand .text-field:hover, .understand .message-field:hover {
    border: 2px solid #FFC2A4; }
  .resources .text-field:hover, .resources .message-field:hover {
    border: 2px solid #8290AF; }
  .what-to-do .text-field:hover, .what-to-do .message-field:hover {
    border: 2px solid #FFDEA6; }

.text-field {
  outline: none; }

.message-field {
  height: 12em;
  outline: none;
  padding-right: 3.75em;
  padding-bottom: 1em; }

.form-section > .large-inner-wrap {
  padding-top: 10em;
  padding-bottom: 10em; }

.form-section-center-margin-wrap {
  width: 60%;
  display: inline-block;
  margin-top: 3.5em; }

.form-image {
  display: inline-block;
  width: 39%;
  vertical-align: top;
  margin-top: 4em;
  padding-left: 2em; }

.form-snippet {
  padding-bottom: 0; }
  .form-snippet.fade {
    opacity: .1;
    pointer-events: none; }

.form-section-required-note {
  display: block;
  font-size: .8em; }

.field-list {
  margin-left: -1em;
  margin-top: -1.5em;
  vertical-align: top;
  box-sizing: border-box; }
  .field-list > li {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 1.3em;
    padding-left: 1em; }
    .field-list > li.half-width {
      width: 49.6%; }

.field-label {
  display: block;
  position: absolute;
  top: 1.2em;
  left: 1.5em;
  padding-left: .5em;
  pointer-events: none;
  font-size: .8em; }
  .field-label .is-active, .is-completed .field-label {
    font-size: .7em;
    top: -.65em;
    left: 2em;
    background: white;
    padding: 0 .25em; }
  .field-label.small-label {
    top: -.5em;
    left: .75em; }
    .field-label.small-label.error {
      color: #FF3C00; }
  .required > .field-label:after {
    content: "*"; }
  .fade .field-label {
    cursor: default !important; }

.text-field {
  width: 100%; }
  .fade .text-field {
    cursor: default !important; }
  .fade .text-field {
    cursor: default !important; }

.fade .message-field {
  cursor: default !important; }

.form-action-list {
  text-align: right;
  margin-top: 1em; }
  .form-action-list > li {
    position: relative; }

.form-action-state {
  position: relative; }

.form-action-button {
  background: none;
  border: none;
  font-size: 1.75em;
  margin-top: 0.25em;
  position: relative;
  font-family: 'Lora', serif;
  font-weight: 700;
  padding: 0; }
  .form-action-button:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .form-action-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 3px;
    left: 0;
    z-index: -1;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .form-action-button.disabled {
    background: #C4C4C4;
    color: #ababab;
    border: #C4C4C4;
    pointer-events: none; }

.form-action-validation-message {
  font-size: .75em;
  display: none; }
  .form-action-validation-message.visible {
    display: block;
    position: absolute;
    top: 5em;
    right: 0;
    left: 0;
    text-align: center;
    color: #FF3C00; }

input.error, textarea.error {
  border: 1px solid #FF3C00; }
  input.error:focus, textarea.error:focus {
    border: 1px solid #FF3C00; }

.success-message {
  display: none; }
  .success-message.visible {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em; }
    .success-message.visible .large-message {
      display: block;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 1em;
      padding-top: 40vh;
      font-family: 'Lora', serif;
      font-weight: 700; }
    .success-message.visible .small-message {
      display: block;
      margin-top: .5em; }
    .success-message.visible a {
      text-decoration: none;
      position: relative;
      font-family: 'Lora', serif;
      font-weight: 700;
      color: #222; }
      .success-message.visible a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 3px;
        left: 0;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
      .success-message.visible a:hover:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.error-message {
  display: none; }
  .error-message.visible {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em; }
    .error-message.visible .large-message {
      display: block;
      font-size: 2em;
      line-height: 1.5em;
      margin-bottom: 1em;
      padding-top: 40vh;
      font-family: 'Lora', serif;
      font-weight: 700; }
    .error-message.visible .small-message {
      display: block;
      margin-top: .5em; }
    .error-message.visible a {
      text-decoration: none;
      position: relative;
      font-family: 'Lora', serif;
      font-weight: 700;
      color: #222; }
      .error-message.visible a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 3px;
        left: 0;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s; }
      .error-message.visible a:hover:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }

.form-check-input-list {
  margin-top: 0.5em; }
  .form-check-input-list > li {
    margin-top: 1em;
    display: inline-block;
    width: 49.5%;
    vertical-align: top; }

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: block; }

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✘';
  position: absolute;
  top: 1px;
  left: 3px;
  font-size: 18px;
  line-height: 0.8;
  transition: all .2s; }
  .real-stories [type="checkbox"]:not(:checked) + label:after, .real-stories
  [type="checkbox"]:checked + label:after {
    color: #BAE7DB; }
  .understand [type="checkbox"]:not(:checked) + label:after, .understand
  [type="checkbox"]:checked + label:after {
    color: #FFC2A4; }
  .resources [type="checkbox"]:not(:checked) + label:after, .resources
  [type="checkbox"]:checked + label:after {
    color: #8290AF; }
  .what-to-do [type="checkbox"]:not(:checked) + label:after, .what-to-do
  [type="checkbox"]:checked + label:after {
    color: #FFDEA6; }

.category:not(:checked) + label:after,
.category:checked + label:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0px;
  z-index: -1;
  left: 0;
  right: 0;
  top: auto;
  mix-blend-mode: multiply;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

.form-close-button {
  display: block;
  width: 2em;
  text-align: center;
  margin: 2em auto 0;
  transform: rotate(360deg); }
  .form-close-button:before {
    content: "";
    font-family: icomoon; }
  .form-close-button:hover {
    transform: rotate(0deg); }

.footer {
  padding: 5em 0 8em;
  text-align: center;
  background-image: linear-gradient(-180deg, #BCE6D4 0%, #ACBFEB 100%);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0; }

.social-link-list > li {
  display: inline-block;
  padding: 0 .4em; }
  .social-link-list > li:last-child {
    padding-right: 0; }
  .social-link-list > li + li:before {
    content: "/";
    color: white;
    padding-right: 1.15em; }

.social-link {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  display: inline-block; }
  .real-stories .social-link:hover {
    color: #BAE7DB; }
  .understand .social-link:hover {
    color: #FFC2A4; }
  .resources .social-link:hover {
    color: #8290AF; }
  .what-to-do .social-link:hover {
    color: #FFDEA6; }

.footer-text-wrapper {
  display: inline-block;
  vertical-align: middle; }

.made-with-text {
  margin-bottom: .25em;
  color: white;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: .7em; }
  .made-with-text a {
    color: white;
    text-decoration: none; }

#copyright-text {
  font-size: .6em;
  letter-spacing: 1px;
  color: white; }
