$header-menu-icon-line-thickness: 3px;
$header-menu-icon-line-spacing: 4px;

@mixin header-menu-button-icon-line ( ) {
  height: $header-menu-icon-line-thickness;
  width: 1.25em;
}

@mixin header-menu-button-icon-generated-line ( ) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
  transition-property: transform;
  transition-duration: $fast;
  @include header-menu-button-icon-line ( );
}

@mixin header-menu-button-icon-generated-lines-are (
  $background-color,
  $rotate,
  $translateY,
  $transition-timing-function
) {
  &:before {
    background-color: $background-color;
    transform: translateY( $translateY ) rotate( $rotate );
    transition-timing-function: $transition-timing-function;
  }
  &:after {
    background-color: $background-color;
    transform: translateY( -$translateY ) rotate( -$rotate );
    transition-timing-function: $transition-timing-function;
  }
}

@mixin header-menu-button-text {
  text-transform: uppercase;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

@mixin header-menu-button-icon-generated-lines-are-x {
  @include header-menu-button-icon-generated-lines-are (
    $background-color: white,
    $rotate: 45deg,
    $translateY: 0,
    $transition-timing-function: ease-out
  );
}

@mixin header-menu-button-main-line {
  display: inline-block;
  background: $dark-gray;
  vertical-align: middle;
  margin-left: $shortest;
  position: relative;
  @include header-menu-button-icon-line ( );
  &:before {
    @include header-menu-button-icon-generated-line ( );
  }
  &:after {
    @include header-menu-button-icon-generated-line ( );
  }
}

.header {
  background: white;
  height: 50px;
  right: 25px;
  left: 26px;
  position: fixed;
  text-align: center;
  padding-top: .7em;
  padding-top: $shorter;
  z-index: 200000;
  @include width-above ($large-width){
    &:after{
      position: absolute;
      height: 1px;
      right: 0;
      left: 0;
      top: 25px;
      background: $lightest-gray;
      content: "";
    }
  }
  @include width-below ($large-width){
    right: 0;
    left: 0;
    height: auto;
    position: relative;
  }
}

.header-mobile-wrap{
  @include width-below ( $large-width ) {
    text-align: left;
  }
}

.header-home-link {
  display: block;
  position: absolute;
  left: .5em;
  top: .4em;
  z-index:10000;
  @include karla-bold;
  font-size: 1.5em;
  text-decoration: none;
  color: $dark-gray;
  background: white;
  padding-right: .5em;
  padding-left: .5em;
  @include width-below ($large-width){
    padding: 0;
    position: relative;
    top: 0;
    display: inline-block;
    padding-bottom: .35em;
    z-index: 0;
    left: 0;
  }
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    height: 2px;
    top: 50%;
    left: .5em;
    right: .5em;
    visibility: hidden;
    background: $dark-gray;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
}

.header-menu-button {
  @include width-below ( $large-width ) {
    position: absolute;
    top: 0.65em;
    right: 0;
    background: transparent;
    border: none;
    padding: 0;
    white-space: nowrap;
    transition-property:  border-color, color ;
    transition-duration: $fast;
    z-index: 1;
    .menu-is-open & {
      transition-timing-function: ease-in;
    }
    .menu-is-closed & {
      transition-timing-function: ease-out;
    }
  }
  
  @include width-above ( $large-width ) {
    display: none;
  }
}

.header-menu-button-icon {
  @include header-menu-button-main-line;
  &:before{
    transform: translateY($header-menu-icon-line-thickness + $header-menu-icon-line-spacing);
    background: $dark-gray;
  } 
  &:after{
    transform: translateY(-7px);
    background: $dark-gray;
  }   
  .menu-is-closed & {
    @include header-menu-button-icon-generated-lines-are (
      $background-color: $dark-gray,
      $rotate: 0deg,
      $translateY: $header-menu-icon-line-thickness + $header-menu-icon-line-spacing,
      $transition-timing-function: ease-in
    );
  }
  .menu-is-open & {
    background-color: transparent;
    @include header-menu-button-icon-generated-lines-are-x;
  }
}

.header-menu-expand-area {
  @include width-below ( $large-width ) {
    text-align: center;
    background-image: linear-gradient(0deg, #FFDFA7 0%, #FFC3A4 90%);
    display: none;
    padding: 1em;
    padding-top: 20vh;
    overflow: scroll;
    position: fixed;
    top: 0;
    right:0; 
    left: 0;
    bottom: 0;
    .menu-is-open & {
      display: block;
      height: 100vh;
    }
    
    .menu-is-closed & {
      display: none;
    }
  }
  
  @include width-above ( $large-width ) {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2000;
  }
}

.main-nav-list {
  @include width-below ( $large-width ) {
    
    & > li {
      margin-bottom: $long;
      display: block;
    }
  }
  
  @include width-above ( $large-width ) {
    text-align: right;
    & > li {
      display: inline-block;
      vertical-align: top;
      margin-left: .5em;
    }
  }
}

.main-nav-link{
  text-decoration: none;
  color: $dark-gray;
  @include small-uppercase-treatment;
  font-weight: 700;
  position: relative;
  background: white;
  padding-right: .75em;
  padding-left: .75em;
  &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @include width-above ($large-width){
    &:after{
      content: "";
      position: absolute;
      height: 1px;
      top: 8.5px;
      left: .75em;
      right: .75em;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.2s ease-in-out 0s;
      transition: all 0.2s ease-in-out 0s;
    }
  }
  &.current{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &.understand{
    color: $understand;
    &:after{
      background: $understand;
    }
  }
  &.resources{
    color: $resources;
    &:after{
      background: $resources;
    }
  }
  &.what-to-do{
    color: $what-to-do;
    &:after{
      background: $what-to-do;
    }
  }
  &.real-stories{
    color: $real-stories;
    &:after{
      background: $real-stories;
    }
  }
  @include width-below ($large-width){
    background: none;
    color: white !important;
    font-size: 2.75em;
  }
}

.utility-nav{
  @include width-above ($large-width){
    display: none;
  }
}

.utility-nav-list{
  margin-top: $longer;
  & > li{
    @include lora;
    font-style: italic;
    font-size: .8em;
    color: white;
    & + li{
      margin-top: $short;
    }
    & a{
      color: white;
    }
  }
}