$dark-gray: #222;
$lightest-gray: #E7E7E7;
$light-gray: #C4C4C4;

$understand: #FFC2A4;
$resources: #8290AF;
$what-to-do: #FFDEA6;
$real-stories: #BAE7DB;

$red: $understand;





@mixin text-theme{
  .real-stories + &{
    color: $real-stories;
  }
  .understand + &{
    color: $understand;
  }
  .resources + &{
    color: $resources;
  }
  .what-to-do + &{
    color: $what-to-do;
  }
  .real-stories &{
    color: $real-stories;
  }
  .understand &{
    color: $understand;
  }
  .resources &{
    color: $resources;
  }
  .what-to-do &{
    color: $what-to-do;
  }
}

@mixin background-theme{
  .real-stories + &{
    background: $real-stories;
  }
  .understand + &{
    background: $understand;
  }
  .resources + &{
    background: $resources;
  }
  .what-to-do + &{
    background: $what-to-do;
  }
  .real-stories &{
    background: $real-stories;
  }
  .understand &{
    background: $understand;
  }
  .resources &{
    background: $resources;
  }
  .what-to-do &{
    background: $what-to-do;
  }
}

@mixin border-theme{
  .real-stories &{
    border: 2px solid $real-stories;
  }
  .understand &{
    border: 2px solid $understand;
  }
  .resources &{
    border: 2px solid $resources;
  }
  .what-to-do &{
    border: 2px solid $what-to-do;
  }
}