@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?60yw41');
  src:  url('../fonts/icomoon.eot?60yw41#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?60yw41') format('truetype'),
    url('../fonts/icomoon.woff?60yw41') format('woff'),
    url('../fonts/icomoon.svg?60yw41#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-art: "\e900";

$icon-contact: "\e901";

$icon-cry: "\e902";

$icon-eat-healthy: "\e903";

$icon-exercise: "\e904";

$icon-journal: "\e905";

$icon-mind-body: "\e906";

$icon-reach-out: "\e907";

$icon-resilient: "\e908";

$icon-resources: "\e909";

$icon-seek-help: "\e90a";

$icon-set-goals: "\e90b";

$icon-sleep: "\e90c";

$icon-spirituality: "\e90d";

$icon-yoga: "\e90e";

$icon-be-proactive:"\e90f";

$icon-trauma: "\e910";

@mixin karla{
	font-family: 'Karla', sans-serif;
	font-weight: 400;
}

@mixin karla-bold{
	font-family: 'Karla', sans-serif;
	font-weight: 700;
}

@mixin lora{
  font-family: 'Lora', serif;
}

@mixin lora-bold{
  font-family: 'Lora', serif;
  font-weight: 700;
}
