$length-scale-base: 1em;
$length-scale-ratio: 2;

$shortest: get-scaled-length-at( -2 );
$shorter: get-scaled-length-at( -1 );
$short: get-scaled-length-at( 0 );
$long: get-scaled-length-at( 1 );
$longer: get-scaled-length-at( 2 );
$longest: get-scaled-length-at( 3 );

@mixin small-uppercase-treatment{
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 3px;
  line-height: 1.3em;
  display: block;
  @include karla-bold;
}

.error-text{
  font-size: 3.3em;
  line-height: 1.3em;
  display: block;
  margin-bottom: 1em;
}

.small-message{
  & > a{
    position: relative;
    text-decoration: none;
    color: $dark-gray;
      &:hover{
    &:after{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0px;
    left: 0;
    z-index: -1;
    @include background-theme;
    mix-blend-mode: multiply;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }
    }
}

.medium-introduction-text{
  font-size: 1em;
  line-height: 1.7em;
  display: block;
  max-width: $medium-width;
  & > a{
    font-weight: bold;
    text-decoration: none;
    color: $dark-gray;
    position: relative;
  }
}

.page-title{
  @include small-uppercase-treatment;
  @include text-theme;
  & > a{
    position: relative;
    @include text-theme;
    text-decoration: none;
    &:after{
        content: "";
        position: absolute;
        height: 1px;
        top: 6.5px;
        left: 0;
        right: 0;
        @include background-theme;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }
    &:hover{
      &:after{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }
  .contact &{
    color: $resources;
  }
}

.page-description{
  @include lora;
  font-weight: 400;
  font-size: 2.9em;
  margin-top: .5em;
  line-height: 1.1em;
  @include width-below ($medium-width){
    font-size: 2.25em;
  }
}